.pricing {
  padding: 0.5rem 0;
  gap: 2rem;
  width: 100%;
}

.pricing h4 {
  font-size: 1.8rem;
  font-weight: 700;
}

.pricing > h6 {
  font-weight: lighter;
  padding: 0 2rem;
  text-align: center;
  color: var(--gray);
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 2.3rem;
  max-width: 600px;
}

.tiers {
  width: 100%;
  gap: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tier {
  width: 90%;
  max-width: 500px;
  height: auto;
  background: var(--lighter-blue);
  border-radius: 0.7rem;
  padding: 3.5rem 2rem 3rem;
  position: relative;
}

.cyan {
  background: var(--cyan);
}

.tier h4 {
  font-size: 1.4rem;
  align-self: flex-start;
}

.tier > h5,
.price {
  align-self: flex-start;
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.tier h6 {
  margin: 1.5rem 0;
  font-size: 1.05rem;
  padding: 0;
  align-self: flex-start;
  text-align: left;
  font-weight: lighter;
}

.tier > img {
  scale: 1.25;
  position: absolute;
  top: -1.5rem;
  left: 2rem;
}

.bonus {
  width: 100%;
  gap: 0.9rem;
  height: auto;
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
}

.bonus:first-child {
  margin-top: 0;
}

.bonus:last-child {
  margin-bottom: 0;
}

.bonus h5 {
  font-size: 1rem;
  font-weight: lighter;
}

.bonus img {
  width: 18px;
  height: 17px;
}

.cyan > img {
  scale: 1;
}

.cyan > h4,
.cyan .bonus h5,
.cyan h6 {
  color: var(--dark-blue);
}

.price {
  color: var(--dark-blue);
  font-weight: 700;
}

.month {
  font-weight: lighter;
  font-size: 1.1rem;
}
